.d-flex {
  display: flex;
}

.flex-center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alert-1 {
  color: #fff;
  top: 39%;
  margin-top: 10px;
}
.p-10 {
  padding: 10px;
}
